# RobotFramework screenshots
selenium-screenshot**.png
screenshots

# Robot Test results
log.html
output.xml
report.html

# Vscode IDE
.vscode/

# virtualenv folders
.virtualenv/
.venv/
env/
venv/
.python-version
